<!-- views/reviews-show.handlebars -->

<a href="/">Back to Home</a>

<h1>{{campaign.title}}</h1>
<h2>{{campaign.amount}}</h2>
<p>{{campaign.description}}</p>

<p>
    <a href="/campaigns/{{campaign._id}}/edit">
        Edit
    </a>
</p>

<!-- Delete button TODO: users shouldnt be able to delete the campaigns-->
<p>
    <form method="POST" action="/campaigns/{{campaign._id}}?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
</p>